body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #cccbcb;
  }
  .mainDiv{
    
      width: 800px;
      height: 600px;
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
    
    }
  